In [38]:
--create connection 

mysql://davin:mysql@localhost:3306

In [42]:
show databases ;

,Database
0,information_schema
1,mysql
2,performance_schema
3,retail_db
4,sys
5,tmp_db

In [48]:
use retail_db;

In [44]:
show tables

,Tables_in_retail_db
0,categories
1,customers
2,departments
3,order_items
4,orders
5,products